//
@import 'colors';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;

    .header {
        height: 330px;
        width: 100%;
        text-align: center;
        padding-top: 50px;

        .navbar {
            margin-top: 51px;
            ul {
                display: flex;
                justify-content: center;
                list-style: none;
    
                li {
                    margin: 20px;
                    font-size: 21px;
                    width: 120px;
                    height: 60px;
                    line-height: 60px;

                    &:hover {
                        background: $lightBlue;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .list {
        background: url('../../public/img/background.jpg');
        background-size: contain;

        h1 {
            font-weight: 400;
            margin-left: 120px;
            padding-top: 20px;
            color: $midnightBlue;
        }

        .long, .short, .shortest {
            margin: 0 auto;
            padding: 50px 0;
            width: 1300px;
            display: flex;
            flex-wrap: wrap;

            .poster {
                width: 400px;
                height: 275px;
                margin: 0 10px 20px 10px;
            }
        }
        
        
    }
    .footer {
        width: 1300px;
        height: 450px;
        margin: 100px auto;
        display: flex;
        justify-content: space-between;
        color: $regentGray;
        
        &-1, &-2, &-3 {
            ul {
                list-style: none;

                li {
                    margin-top: 10px;
                }
            }
        }

        


    }
}


    

