//
@import 'colors';
@import 'buttons';
@import 'header';
@import 'product';
@import 'list';
@import 'footer';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;

    @include header;
    @include list;
    @include product;
    @include footer;
}


    

