//
@import 'colors';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;

    .header {
        height: 330px;
        width: 100%;
        text-align: center;
        padding-top: 50px;

        .navbar {
            margin-top: 51px;
            ul {
                display: flex;
                justify-content: center;
                list-style: none;
    
                li {
                    margin: 20px;
                    font-size: 21px;
                    width: 120px;
                    height: 60px;
                    line-height: 60px;

                    a {
                        text-decoration: none;
                        color: $black;
                    }

                    &:hover {
                        background: $lightBlue;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .list {
        background: url('../../public/img/background.jpg');
        background-size: contain;

        h1 {
            font-weight: 400;
            margin-left: 120px;
            padding-top: 20px;
            color: $midnightBlue;
        }

        .long, .short, .shortest {
            margin: 0 auto;
            padding: 50px 0;
            width: 1300px;
            display: flex;
            flex-wrap: wrap;

            .poster {
                width: 400px;
                height: 275px;
                margin: 0 10px 20px 10px;
            }
        }
        
        
    }

    .product {
        width: 100%;
        height: 1032px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $powderBlue;
        position: relative;

        .type {
            width: 700px;
        }

        .pack {
            width: 900px;
        }

        .prev {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 120px;
            transform: translate(-50%,-50%);
            position: absolute;
            left: 40px;
            top: 450px;
            background: $lightBlue;
        }

        .next {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 120px;
            transform: translate(-50%,-50%);
            position: absolute;
            right: -40px;
            top: 450px;
            background: $lightBlue;
        }

        i {
            font-size: 60px;
            color: $white;
        }

        .description {
            width: 1300px;
            color: $midnightBlue;
            margin-bottom: 50px;
        }
    }

    .footer {
        width: 1300px;
        height: 450px;
        margin: 100px auto;
        display: flex;
        justify-content: space-between;
        color: $regentGray;
        
        &-1, &-2, &-3 {
            ul {
                list-style: none;

                li {
                    margin: 10px 0;
                }
            }
        }

        


    }
}


    

