@mixin header {
    .header {
        height: 330px;
        width: 100%;
        text-align: center;
        padding-top: 50px;

        .navbar {
            margin-top: 51px;
            ul {
                display: flex;
                justify-content: center;
                list-style: none;
    
                li {
                    margin: 20px;
                    font-size: 21px;
                    width: 120px;
                    height: 60px;
                    line-height: 60px;

                    a {
                        text-decoration: none;
                        color: $black;
                    }

                    &:hover {
                        background: $lightBlue;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}